################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/realfinalproject/.vs
/.vs/slnx.sqlite
/.vs
/Final Project.html
/css.code
/css.code
